#info {
  font-family: inter-variable, sans-serif;

  font-size: var(--reg-inter);
  line-height: var(--sm-line-h);

  margin-top: 12vw;
}

#outro {
  line-height: var(--lg-line-h);
  font-size: var(--sm-unbounded);
  font-family: unbounded, sans-serif;
  text-transform: lowercase;
}

#cols {
  display: grid;
  position: relative;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 1.5em;
}

/*divider*/
/* #cols::before {
  content: "";
  position: absolute;

  top: -3px;
  bottom: -3px;


  left: 50%;
  transform: translateX(-50%);

  width: 50px;

  background: url("../images/divider.svg") no-repeat center;
  background-size: contain;

  pointer-events: none;
} */
.l-col,
.r-col {
  min-width: 0;
}

.l-col > :not(h3),
.r-col > :not(h3) {
  margin-left: 0.8em;
}

#info .icons,
#info h4,
.row3.r-col p {
  margin-top: 0.5em;
}

#info .tags {
  margin-top: 1em;
}

.row3.r-col p {
  margin-bottom: 0.4em;
}

li.l-col {
  grid-column: 1;
}

li.r-col {
  grid-column: 2;
}

li.row1 {
  grid-row: 1;
}

li.row2 {
  grid-row: 2;
}

li.row3 {
  grid-row: 3;
}

li.divider {
  grid-column: 2;
  grid-row: 1/-1;
  height: 100%;
  width: 50px;
  position: relative;
  display: flex;

  justify-content: center;
}

.divider svg {
  height: 100%;
  width: 2.1em;
}

/* .btn:hover .arrow {
  transform: translate(-165%, -50%) scale(1.8);
} */

#info img,
#info .icons svg:not(svg.sparkle) {
  width: 60px;
}

#info ul.icons {
  display: grid;
  grid-template-columns: repeat(6, max-content);
  /* margin-top: 0.7em; */
}

.l-col li {
  position: relative;
  padding-left: 1.4rem;
}

.l-col li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.55em;
  width: 11px;
  height: 11px;
  background: url("../images/sparkle.svg") no-repeat center / contain;
}

h3 {
  color: var(--white);
  background-color: var(--black);
  background-image: url("../images/dk-grain.png");
  background-size: 250px 250px;
  background-repeat: repeat;
  padding: 0.7em;
  border-radius: 5px;
}

ul.stats {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  grid-template-rows: repeat(2, max-content);
  grid-gap: 0.5em;
}

.stats li {
  width: 85px;
  text-align: center;
  border: 2.5px solid var(--base);
  color: var(--base);
  border-radius: 10px;
  padding: 0.1em 0 0.2em 0;
  overflow: hidden;
}

.stats span {
  display: block;
  min-width: 0;
}

.stats span:first-of-type {
  font-size: var(--tiny-inter);
  text-transform: uppercase;
  font-weight: 570;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.stats span:last-of-type {
  font-size: var(--lg-inter);
  text-transform: uppercase;
  font-weight: 600;
  margin-top: -0.2em;
}

#links {
  width: 100%;
  margin-top: 1.7em;
  margin-bottom: 10em;
}
#links ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#links a,
#links li.contact {
  display: flex;
  gap: 0.7em;
  align-items: center;
}

#links li span {
  text-decoration: underline;

  color: var(--base);
}

.sparkle {
  width: 14px;
  height: 14px;
}

#outro {
  display: grid;
  grid-template-columns: auto max-content;
}

#outro p {
  align-self: center;
  padding: 2.5em 0;
}

#outro p::first-line {
  color: var(--base); /* or your accent color */
}

#outro img {
  width: 13em;
  margin: var(--base-margin);
  margin-left: -2em;
}

#outro p,
#outro img {
  will-change: transform, opacity;
  transition: transform 0.08s linear, opacity 0.08s linear;
}

/* about media queries */

@media (max-width: 550px) {
  #outro {
    display: flex;
    flex-direction: column;
    padding-right: var(--base-margin);
  }

  #outro p {
    padding-bottom: 0;
  }

  #outro img {
    align-self: flex-end;
    margin-top: -1em;
    margin: 0;
  }

  #links {
    margin-top: 2em;
  }

  #links span {
    display: none;
  }

  /* .sparkle {
    display: none;
  } */
}

@media (max-width: 750px) {
  #info {
    margin-top: 6vw;
  }
  #cols::before {
    content: none;
  }

  #cols {
    display: block;
  }

  .sparkle {
    width: 18px;
  }

  h3:not(li:first-of-type h3) {
    margin-top: 2em;
  }

  ul.stats {
    display: flex;
    margin-top: 0.8em;
  }
}

@media (max-width: 805px) {
  #info ul.icons {
    display: flex;
    flex-wrap: wrap;
  }
}

/* @media (max-width: 499px) {
  .btn:hover .arrow {
    transform: translate(-60%, -50%) scale(1.8);
  }
}

@media (min-width: 500px) and (max-width: 900px) {
  .btn:hover .arrow {
    transform: translate(-88%, -50%) scale(1.8);
  }
}

@media (min-width: 901px) and (max-width: 1300px) {
  .btn:hover .arrow {
    transform: translate(-132%, -50%) scale(1.8);
  }
} */

@media (max-width: 950px) {
  #cols {
    grid-column-gap: 3em;
  }

  /* #cols li > :nth-child(2):not(.stats span:last-of-type) {
    margin-top: 0.8em;
  } */

  .stats span:last-of-type {
    margin-top: 0.2em;
  }

  /* #info .tags {
    margin-top: 1.2em;
  } */
}

@media (min-width: 1075px) {
  /* fix me standardize font size  */
  :root {
    --base-margin: 80px;
  }

  #outro p {
    font-size: 1.4em;
    line-height: var(--lg-line-h);
  }

  #outro img {
    width: 23em;
  }

  .circle-pic {
    transform: scale(1.2);
  }
}
