#hero {
  font-family: unbounded, sans-serif;
  text-transform: uppercase;
  font-size: var(--xl-unbounded);
  font-weight: 600;

  padding-right: 0;
}

#hero p {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.marquee {
  font-family: unbounded, sans-serif;
  text-transform: uppercase;
  font-size: var(--xl-unbounded);
  font-weight: 600;

  overflow: hidden;
}

.marquee p {
  white-space: nowrap;
}

.marquee.short {
  display: flex;
  align-items: center; /* vertical centering */
}

.marquee.short p {
  margin-bottom: 0.09em;
}

.btn:first-of-type:hover .arrow {
  transform: translate(-149%, -50%) scale(1.8);
}

.btn:nth-of-type(2):hover .arrow {
  transform: translate(-150%, -50%) scale(1.8);
}

@media (max-width: 376px) {
  .btn:first-of-type:hover .arrow {
    transform: translate(-55%, -50%) scale(1.8);
  }

  .btn:nth-of-type(2):hover .arrow {
    transform: translate(-115%, -50%) scale(1.8);
  }
}

@media (min-width: 376px) and (max-width: 500px) {
  .btn:first-of-type:hover .arrow {
    transform: translate(-75%, -50%) scale(1.8);
  }

  .btn:nth-of-type(2):hover .arrow {
    transform: translate(-65%, -50%) scale(1.8);
  }
}

@media (min-width: 500px) and (max-width: 750px) {
  .btn:first-of-type:hover .arrow {
    transform: translate(-80%, -50%) scale(1.8);
  }

  .btn:nth-of-type(2):hover .arrow {
    transform: translate(-70%, -50%) scale(1.8);
  }
}

@media (min-width: 750px) and (max-width: 1250px) {
  .btn:first-of-type:hover .arrow {
    transform: translate(-110%, -50%) scale(1.8);
  }

  .btn:nth-of-type(2):hover .arrow {
    transform: translate(-100%, -50%) scale(1.8);
  }
}
