#hero {
  font-family: unbounded, sans-serif;
  text-transform: uppercase;
  font-size: var(--xl-unbounded);
  font-weight: 600;

  padding-right: 0;
}

#hero p {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
