#hero {
  height: max-content;
  margin-top: 3em;
  margin-bottom: 0.2em;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

#hero.projects p {
  font-family: unbounded, sans-serif;
  font-size: var(--md-unbounded);
  text-transform: lowercase;

  position: static;
  transform: none;
}

#selector {
  border: 1.7px solid var(--black);
  border-radius: 50px;

  position: relative;

  width: 100%;
  padding: 0.1em;
  padding-left: 0.3em;
  margin-top: 0.15em;
  z-index: 5;

  /* overflow: hidden; */
}

#selector span,
#dropdown-options {
  font-family: inter-variable, sans-serif;
  font-size: var(--reg-inter);
  text-transform: lowercase;
}

#select-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  /* z-index: 2; */
}
#selector .btns {
  display: flex;
  align-items: center;
  gap: 3px;
}

#tag-selection img {
  width: 30px;
  height: 30px;
}
#tag-selection button {
  height: 30px;
}

#selector.open {
  border-radius: 22px 22px 0 0; /* flatten bottom when open */
}

#dropdown-options {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;

  flex-direction: column;
  background-color: var(--white);
  outline: 1.7px solid #000;
  border-top: none;

  border-radius: 0 0 25px 25px;

  width: 100%;
  background: var(--white);
  border-top: none;
  overflow: hidden;
}

#dropdown-options.open {
  display: flex;
}

.option {
  padding: 0.8em;
  background-color: var(--white);
  color: var(--black);

  border: none;
  text-align: left;
  transition: all 0.1s;
}

.option:hover,
.option.chosen {
  background-color: var(--black);
  color: var(--white);
}

.option:not(:last-child) {
  border-bottom: 1.7px solid var(--black);
}

#project-icons {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-right: var(--base-margin);
  margin-left: 8px;
}

.project-icon {
  display: flex;

  align-items: center;
  justify-content: center;

  width: 45px;
  height: 45px;

  border-radius: 10px;

  transition: all 0.2s ease;
}

.project-icon.current,
.project-icon.fit {
  position: relative;
}

.project-icon.current::after,
.project-icon.fit::after {
  content: "";
  position: absolute;

  width: 14px;
  height: 14px;

  top: -20px; /* above icon */
  left: 50%;
  transform: translateX(-50%);

  background-image: url("../images/sparkle.svg");
  background-size: contain;
  background-repeat: no-repeat;

  opacity: 1;
}

.project-icon.current.fit::before {
  content: "";
  position: absolute;

  width: 14px;
  height: 14px;

  top: -42px; /* above icon */
  left: 50%;
  transform: translateX(-50%);

  background-image: url("../images/sparkle.svg");
  background-size: contain;
  background-repeat: no-repeat;

  opacity: 1;
}

.project-icon.current::before {
  left: calc(50% - 12px);
  transform: translateX(-50%);
}

#case-icon {
  background-color: #434f37;
}

#goodreads-icon {
  background-color: #362215;
}

#desert-nutrition-icon {
  background-color: #d40000;
}

#tech-fwd-icon {
  background-color: #162b49;
}

.project-icon svg {
  width: 26px;
  height: 26px;
}

section.highlight {
  margin-top: 0;
}

#carousel-ui {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 50%);
  z-index: 2;
}

.arrows {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;

  display: flex;
  justify-content: space-between;

  transform: translateY(-50%);
}

.count {
  position: absolute;
  bottom: 5%;
  left: 50%;

  transform: translateX(-50%);

  display: flex;
  gap: 1.5em;
}
.count svg {
  width: 20px;
  height: 20px;
  opacity: 0.4;
}

.count svg.active {
  opacity: 1;
}

.left-btn {
  margin-left: 5px;
}
.right-btn {
  margin-right: 5px;
}

@media (max-width: 540px) {
  .highlight .count {
    display: none;
  }

  .highlight .tags {
    margin-bottom: 0;
  }
}

@media (max-width: 600px) {
  .project-icon {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 650px) {
  #hero.projects p {
    font-size: var(--sm-unbounded);
  }

  #hero {
    margin-top: 1.8em;
  }
}
