/* --------------------------------------- resets */
/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Remove default list styles */
ul,
ol {
  list-style: none;
}

/* Remove link underlines + inherit color */
a {
  text-decoration: none;
  color: inherit;
}

/* Form elements inherit font */
input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

/* Remove button default styles */
button {
  background: none;
  border: none;
  cursor: pointer;
}

/* --------------------------------------- variables */

:root {
  --white: #f1f1f1;
  --base: #9c0041;
  --dk-base: #630229;
  --black: rgb(29, 29, 29);
  --shadow: rgba(0, 0, 0, 0.029);

  --module-bg: #f1f1f1b7;

  --tiny-inter: 0.5rem;
  --sm-inter: 0.8rem;
  --reg-inter: 0.9rem;
  --lg-inter: 1.5rem;

  --sm-unbounded: 0.95rem;
  --md-unbounded: 1.5rem;
  --lg-unbounded: 2.5rem;
  --xl-unbounded: 3.2rem;

  --md-bricolage: 1.1rem;
  --lg-bricolage: 1.5rem;
  --xl-bricolage: 2.5em;

  --base-margin: 50px;
  --sm-line-h: 1.7em;
  --md-line-h: 2em;
  --lg-line-h: 2.4em;
}

/* --------------------------------------- type */
body {
  color: var(--black);
}

.btn,
.btn button,
h3,
footer ul {
  font-family: unbounded, sans-serif;
  text-transform: uppercase;
}

.highlight p,
.sm-link,
ul.tags,
small {
  font-family: inter-variable, sans-serif;
}

/* inter small 16 */
small {
  font-size: var(--tiny-inter);
}

/* inter smallish 20 */
.sm-link,
.tags {
  font-size: var(--sm-inter);
  text-transform: lowercase;
}

.sm-link {
  font-weight: 700;
}

.tags {
  font-weight: 500;
}

/* inter reg 26 */
.module p {
  font-size: var(--reg-inter);
  line-height: var(--sm-line-h);
}

/* md unbounded 30 */
.module h3,
footer ul {
  font-size: var(--md-unbounded);
  font-weight: 600;
}

/* l unbounded 60 */
.btn {
  font-size: var(--lg-unbounded);
  font-weight: 500;
}

/* xl brico */
.text-only {
  font-family: bricolage-grotesque-48, sans-serif;
  font-size: var(--lg-bricolage);
  line-height: var(--md-line-h);
}

/* large brico 36 */
header > a,
#contact-btn {
  font-family: bricolage-grotesque-36, sans-serif;
  font-size: var(--md-bricolage);
  text-transform: lowercase;

  font-weight: 600;
}

/* med brico 20ish */
nav {
  font-family: bricolage-grotesque, sans-serif;
  font-size: 1.04em;
  text-transform: uppercase;
  margin-top: -0.2em;
  margin-right: -0.02em;

  font-weight: 600;
}

em {
  font-style: normal;
  color: var(--base);
}

/* --------------------------------------- general */
html,
body {
  min-width: 320px;
  cursor: none !important;
}
body {
  background-color: var(--white);
  background-image: url("../images/grain.png");
  background-size: 250px 250px;

  background-repeat: repeat;
}
.hide {
  display: none !important;
}

* {
  cursor: none !important;
}

.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
  pointer-events: none;
  z-index: 9999;

  background-image: url("../images/cursor.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  transform: translate(-30%, -30%);
}

.cursor.pointer {
  background-image: url("../images/pointer.png");
  transform: translate(-30%, -30%) translateY(6px);
}

/* --------------------------------------- spacing */

main > *,
header {
  padding-left: var(--base-margin);
}

section:not(section.highlight),
header {
  padding-right: var(--base-margin);
}

header {
  padding: 1.1em;
  padding-top: 0.7em;
}

#hero {
  position: relative;
  height: calc(100vh - 2em);
}

.text-only {
  margin: 1em 0;
}

.module p {
  margin-top: 0.45em;
  margin-bottom: 0.5em;
}

.module h3 {
  margin-top: -0.4em;
}

/* --------------------------------------- nav */

header {
  text-align: right;
  position: relative;
}

/*logo*/

header svg {
  position: absolute;

  top: -5px;
  left: -20px;

  width: 24vw;
  height: auto;

  z-index: -1;
  pointer-events: none;

  fill: var(--black);
  transition: transform 0.2s ease;
}

nav ul {
  color: var(--base);
  display: flex;
  justify-content: flex-end;
}

nav li:not(:last-child)::after {
  content: ".";
  padding-right: 0.25em;
}

/* --------------------------------------- elements */
#contact-btn {
  position: fixed;
  bottom: 8px;
  right: 8px;
  padding: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;

  z-index: 2;
}
#contact-btn span {
  display: inline-block;
  transform: rotate(2deg);
  mix-blend-mode: difference;
}
#contact-btn img {
  width: 60px;
}

.arrows img,
.back-arrow {
  width: 50px;
  height: 50px;
}

.btn,
.sm-link {
  display: flex;
  align-items: center;
  position: relative;
}

.btn a,
.btn button,
.sm-link a {
  position: relative;
  z-index: 1;
}

.sm-link a {
  padding: 5px;
}
.arrow {
  position: absolute;
  height: auto;

  z-index: 0;
}

.btn,
footer {
  background-color: var(--black);
  background-image: url("../images/dk-grain.png");
  background-size: 250px 250px;
  background-repeat: repeat;
}

.btn {
  color: var(--white);
  height: 5em;
  padding-bottom: 0.4em;
  padding-right: calc(var(--base-margin) * 0.9);
  padding-left: calc(var(--base-margin) * 0.9);
}

/* .btn svg {
  fill: white;
} */

.btn .arrow {
  left: 50%;
  top: 60%;
  transform: translate(-56%, -50%) scale(1.8);
  transform-origin: center center;
  display: block;
  transition: transform 0.5s ease;
}

.sm-link {
  margin-top: 2em;
}

.sm-link .arrow {
  left: 50%;
  top: 70%;
  transform: translate(-53%, -10%) scale(2);
  transform-origin: center center;
  display: block;
  transition: transform 0.5s ease;
}

.sm-link svg {
  fill: var(--black);
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  margin-top: 1.5em;
  margin-left: 0.2em;
}

.tags li {
  background-color: #9c0041;
  color: var(--white);

  border-radius: 5px;
  padding: 0.4em;
}

.marquee {
  font-family: unbounded, sans-serif;
  text-transform: uppercase;
  font-size: var(--xl-unbounded);
  font-weight: 600;

  overflow: hidden;
}

.marquee p {
  white-space: nowrap;
}

.marquee.short {
  display: flex;
  background-color: var(--white);
  align-items: center; /* vertical centering */
}

.marquee.short p {
  margin-bottom: 0.09em;
}

/* --------------------------------------- project highlights */
section.highlight {
  background-image: url("../images/case-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-left: 0;

  position: relative;
  height: 90vh;
  padding: 12vw 4vw;
}

.highlight .content {
  display: grid;
  grid-template-columns: 1fr 1.7fr;
  align-items: center;

  height: 100%;
}

.highlight > div {
  grid-column: 2;
}

.highlight .module {
  background-color: var(--module-bg);
  border-radius: 10px;
  margin-right: var(--base-margin);
  padding: 48px;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.526);

  flex: 1;
  display: flex;
  flex-direction: column;
}

.module .sm-link {
  margin-top: auto;
}

#proj-img {
  width: 16em;
  justify-self: center;
  margin-right: 0.2em;
}

#proj-info {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* --------------------------------------- footer */
footer {
  height: 40em;
  /* background-color: var(--black); */
  color: var(--white);
  position: relative;
  overflow: hidden;
}

#footer-logo {
  display: none;
}

#footer-bg {
  fill: var(--white);
  width: 100vw;
  top: 0;
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  pointer-events: none;
}

footer div {
  position: relative;
  top: 40%;
  left: 53.5%;
}

footer ul {
  margin-bottom: 0.35em;
}

/*contact form*/

.contact-close {
  position: absolute;
  top: 10px;
  right: 15px;

  background: none;
  border: none;
  color: var(--black);

  font-size: 2rem;
  cursor: pointer;

  z-index: 3;
  line-height: 1;
}

.lightbox {
  position: fixed;
  inset: 0;
  background: rgba(255, 255, 255, 0.449);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px); /* Safari support */
}

.lightbox.hidden {
  display: none;
}
#contact-module {
  width: fit-content;
  border-radius: 20px;
  height: fit-content;
  display: flex;
  flex-direction: column;

  box-sizing: border-box;

  background: var(--white);
  background-image: url("../images/grain.png");
  background-size: 250px 250px;

  background-repeat: repeat;
  box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.073);
  border: 1.7px solid var(--black);

  position: fixed;
  inset: 0;
  margin: auto;
  padding-top: 55px;

  z-index: 10;
}

input::placeholder,
textarea::placeholder {
  font-family: "inter-variable", sans-serif;
  font-size: var(--reg-inter);
  text-transform: lowercase;
}

#contact-module h2 {
  font-family: bricolage-grotesque-48, sans-serif;
  font-size: var(--xl-bricolage);
  text-transform: lowercase;
}

input:focus,
textarea:focus {
  outline: 2px solid var(--base); /* or any accent color */
  outline-offset: 2px;
}

#contact-form input:not(#contact-form .row input),
#contact-form .row,
#contact-form textarea,
#contact-module h2 {
  margin: 0 55px;
}

#contact-module input,
#contact-module textarea {
  border: 1.7px solid var(--black);
  background-color: transparent;
  border-radius: 20px;

  padding: 0.4em 0.7em;
  font-family: "inter-variable", sans-serif;
  font-size: var(--reg-inter);
  text-transform: lowercase;
}

#submit {
  color: var(--white);
  font-family: unbounded, sans-serif;
  text-transform: uppercase;
  font-size: var(--sm-unbounded);
  font-weight: 600;

  width: 100%;
  padding: 1em 0;

  margin-bottom: 1em;
  background-color: var(--black);
  background-image: url("../images/dk-grain.png");
  background-size: 250px 250px;
  background-repeat: repeat;
}

#contact-form {
  /* width: min(700px, 100%); */
  display: flex;
  margin-top: 0.25em;
  flex-direction: column;
  gap: 16px;
}

/* name + email row */
.row {
  display: flex;

  gap: 16px;
}

.row input {
  flex: 1;
}

/* inputs */
/* input,
textarea {
  width: 100%;
  padding: 14px 16px;

  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 8px;

  font-size: 16px;
  font-family: inherit;

  outline: none;
} */

textarea {
  resize: vertical;
  height: 120px;
}
/* ---------------------------------------hover styles */
nav li,
footer li,
.sm-link a,
#submit:hover span {
  transition: all 0.3s;
}

nav li:hover,
footer li:hover,
.sm-link a:hover {
  color: var(--dk-base);
  transform: scale(1.02);
}

#submit:hover span {
  color: var(--base);
  transform: scale(1.02);
}

/* --------------------------------------- media queries */

@media (max-width: 375px) {
  :root {
    --tiny-inter: 0.5rem;
    --sm-inter: 0.7rem;
    --reg-inter: 0.8rem;
    --lg-inter: 1rem;

    --sm-unbounded: 0.65rem;

    --md-unbounded: 0.8rem;
    --lg-unbounded: 1.5rem;
    --xl-unbounded: 2rem;

    --md-bricolage: 0.9rem;
    --lg-bricolage: 1rem;
    --xl-bricolage: 2em;

    --base-margin: 50px;
  }

  .mobile-hide {
    display: none;
  }
}

/*fix me.. get rid of overlap with root and arrows*/

@media (min-width: 375px) and (max-width: 500px) {
  :root {
    --tiny-inter: 0.5rem;
    --sm-inter: 0.76rem;
    --reg-inter: 0.8rem;
    --lg-inter: 1.5rem;

    --sm-unbounded: 0.8rem;
    --md-unbounded: 1rem;
    --lg-unbounded: 1.5rem;
    --xl-unbounded: 2rem;

    --base-margin: 50px;
  }

  /* .btn .arrow {
    bottom: -23%; 
    width: 92%;
    transform: translateX(-49%); 
  } */
}

@media (max-width: 540px) {
  .highlight .module {
    padding: 38px;
  }
}

@media (min-width: 500px) and (max-width: 750px) {
  :root {
    --tiny-inter: 0.5rem;
    --sm-inter: 0.76rem;
    --reg-inter: 0.8rem;
    --lg-inter: 1.5rem;

    --sm-unbounded: 0.9rem;
    --md-unbounded: 1.3rem;
    --lg-unbounded: 2rem;
    --xl-unbounded: 2.5rem;

    --base-margin: 50px;
  }
}

@media (max-width: 750px) {
  footer {
    height: fit-content;
    text-align: center;
    padding-top: var(--base-margin);
    padding-bottom: 6em;
  }

  #footer-bg {
    display: none;
  }

  #footer-logo {
    display: block;
    fill: var(--white);
    width: 60vw;
    margin: 0 auto;
    padding: var(--base-margin) 0;

    opacity: 0;
    transform: scale(0.5);
    transform-origin: center center;
    will-change: transform, opacity;
  }

  footer div {
    position: static;
  }

  footer ul {
    font-size: var(--md-unbounded);
    line-height: var(--sm-line-h);
    font-weight: 600;
    margin-bottom: 0;
  }

  section.highlight {
    padding: 0;
    height: 100vh;
    margin-top: -4px;
  }

  .highlight .content {
    display: flex;
    flex-direction: column;
    padding: var(--base-margin);
  }

  .highlight .module {
    margin-right: 0;
  }

  .highlight .tags {
    justify-content: center;
    margin-bottom: 60px;
  }

  .btn.get-to-know .arrow {
    transform: translate(-52%, -50%) scale(1.8);
  }
}

@media (min-width: 540px) and (max-width: 750px) {
  .highlight .tags {
    justify-content: center;
  }
}

@media (min-width: 1060px) {
  section.highlight {
    padding: 12vw 13vw;
  }
}

@media (min-width: 751px) and (max-width: 1050px) {
  footer {
    height: 50vw;
  }
}
@media (max-width: 950px) {
  :root {
    --base-margin: 30px;
  }

  header svg {
    transform: translateX(20%) translateY(20%) scale(1.4);
  }
}

.btn.get-to-know:hover .arrow {
  transform: translate(-140%, -50%) scale(1.8);
}

.btn.see-work:hover .arrow {
  transform: translate(-170%, -50%) scale(1.8);
}

@media (max-width: 376px) {
  .btn.get-to-know:hover .arrow {
    transform: translate(-45%, -50%) scale(1.8);
  }

  .btn.see-work:hover .arrow {
    transform: translate(-75%, -50%) scale(1.8);
  }
}

@media (min-width: 376px) and (max-width: 500px) {
  .btn.get-to-know:hover .arrow {
    transform: translate(-75%, -50%) scale(1.8);
  }

  .btn.see-work:hover .arrow {
    transform: translate(-100%, -50%) scale(1.8);
  }
}

@media (min-width: 500px) and (max-width: 750px) {
  .btn.get-to-know:hover .arrow {
    transform: translate(-80%, -50%) scale(1.8);
  }

  .btn.see-work:hover .arrow {
    transform: translate(-110%, -50%) scale(1.8);
  }
}

@media (min-width: 750px) and (max-width: 1250px) {
  .btn.get-to-know:hover .arrow {
    transform: translate(-102%, -50%) scale(1.8);
  }

  .btn.see-work:hover .arrow {
    transform: translate(-130%, -50%) scale(1.8);
  }
}
