/* --------------------------------------- resets */
/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Remove default list styles */
ul,
ol {
  list-style: none;
}

/* Remove link underlines + inherit color */
a {
  text-decoration: none;
  color: inherit;
}

/* Form elements inherit font */
input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

/* Remove button default styles */
button {
  background: none;
  border: none;
  cursor: pointer;
}

/* --------------------------------------- variables */

:root {
  --white: #f1f1f1;
  --base: #9c0041;
  /* --dk-base: #57042e; */
  --dk-base: #9c0041;
  --black: rgb(29, 29, 29);

  --module-bg: #f1f1f1b7;

  --tiny-inter: 0.5rem;
  --sm-inter: 0.8rem;
  --reg-inter: 1rem;
  --lg-inter: 1.5rem;

  --sm-unbounded: 0.95rem;
  --md-unbounded: 1.5rem;
  --lg-unbounded: 2.5rem;
  --xl-unbounded: 3.2rem;

  --md-bricolage: 1.1rem;
  --lg-bricolage: 1.5rem;
  --xl-bricolage: 2.5em;

  --base-margin: 50px;
  --sm-line-h: 1.5em;
  --md-line-h: 2em;
  --lg-line-h: 2.4em;
}

/* --------------------------------------- type */
body {
  color: var(--black);
}

#home-hero,
.xl-link,
.xl-link button,
h3,
.side-scroll,
footer ul {
  font-family: unbounded, sans-serif;
  text-transform: uppercase;
}

#about-hero,
#about-outro {
  font-family: unbounded, sans-serif;
  text-transform: lowercase;
}

.project-highlight p,
.sm-link,
ul.tags,
small,
#about-info {
  font-family: inter-variable, sans-serif;
}

/* inter small 16 */
small {
  font-size: var(--tiny-inter);
}

/* inter smallish 20 */
.sm-link,
.tags {
  font-size: var(--sm-inter);
  text-transform: lowercase;
}

.sm-link {
  font-weight: 700;
}

.tags {
  font-weight: 500;
}

/* inter reg 26 */
.module p,
#about-info {
  font-size: var(--reg-inter);
  line-height: var(--sm-line-h);
}

#about-hero p,
#about-outro {
  line-height: var(--lg-line-h);
  font-size: var(--sm-unbounded);
}

/* md unbounded 30 */
.module h3,
footer ul {
  font-size: var(--md-unbounded);
  font-weight: 600;
}

/* l unbounded 60 */
.xl-link {
  font-size: var(--lg-unbounded);
  font-weight: 500;
}

/* xl unbounded 80 */
#home-hero,
#about-hero h1,
.side-scroll {
  font-size: var(--xl-unbounded);
  font-weight: 600;
}

/* xl brico */
.text-only {
  font-family: bricolage-grotesque-48, sans-serif;
  font-size: var(--lg-bricolage);
  line-height: var(--md-line-h);
}

/* large brico 36 */
header > a {
  font-family: bricolage-grotesque-36, sans-serif;
  font-size: var(--md-bricolage);
  text-transform: lowercase;

  font-weight: 600;
}

/* med brico 20ish */
nav {
  font-family: bricolage-grotesque, sans-serif;
  font-size: var(--md-bricolage);
  text-transform: uppercase;
  margin-top: -0.2em;
  margin-right: -0.02em;

  font-weight: 600;
}

em {
  font-style: normal;
  color: var(--base);
}

/* --------------------------------------- general */
html,
body {
  min-width: 320px;
}
body {
  background-color: var(--white);
}
.no-display {
  display: none;
}

/* --------------------------------------- spacing */

main > *,
header {
  padding-left: var(--base-margin);
}

section:not(#home-hero),
header {
  padding-right: var(--base-margin);
}

header {
  padding: 1.1em;
  padding-top: 0.7em;
}

.hero {
  position: relative;
  height: calc(100vh - 2em);
}

.text-only {
  margin: 1em 0;
}

.module p {
  margin-top: 0.2em;
}

.module h3 {
  margin-top: -0.4em;
}

/* --------------------------------------- nav */

header {
  text-align: right;
  position: relative;
}

/*logo*/

header svg {
  position: absolute;

  top: -5px;
  left: -20px;

  width: 284px;
  height: auto;

  z-index: -1;
  pointer-events: none;

  fill: var(--black);
  transition: all 0.2s ease;
}

nav ul {
  color: var(--dk-base);
  display: flex;
  justify-content: flex-end;
}

nav li:not(:last-child)::after {
  content: ".";
  margin-right: 0.25em;
}

/* --------------------------------------- elements */

.xl-link,
.sm-link {
  display: flex;
  align-items: center;
  position: relative;
}

.xl-link a,
.xl-link button,
.sm-link a {
  position: relative;
  z-index: 1;
}
.arrow {
  position: absolute;
  height: auto;

  z-index: 0;
}

.xl-link {
  background-color: var(--black);
  color: var(--white);
  height: 5em;
  padding-bottom: 0.4em;
  padding-right: calc(var(--base-margin) * 0.9);
  padding-left: calc(var(--base-margin) * 0.9);
}

.xl-link svg {
  fill: white;
}

.xl-link .arrow {
  bottom: 0; /* adjust this to sit under text */
  width: 94%;
  left: 50%; /* center horizontally */
  transform: translateX(-50%); /* true center */
  transition: transform 0.5s ease;
}

/* .xl-link:hover .arrow {
  transform: translateX(-90%); 
} */

.xl-link:nth-of-type(2) a {
  margin-left: auto;
}

.xl-link:nth-of-type(2) .arrow {
  transform: translateX(-51%) scaleX(-1);
}

.sm-link {
  margin-top: 2em;
}

.sm-link .arrow {
  bottom: -5.35em; /* adjust this to sit under text */
  width: 102%;
  transform: translateX(-1.5%);
}

.sm-link svg {
  fill: var(--black);
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  margin-top: 1.5em;
  margin-left: 0.2em;
}

.tags li {
  background-color: #9c0041;
  color: var(--white);

  border-radius: 5px;
  padding: 0.4em;
}

/* --------------------------------------- project highlights */
section.project-highlight {
  min-height: 30em;
  background-image: url("../images/case-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: grid;
  grid-template-columns: 1fr 1.7fr;
  align-items: center;

  padding-top: 4em;
  padding-bottom: 4em;
}

.project-highlight > div {
  grid-column: 2;
}

.project-highlight .module {
  background-color: var(--module-bg);
  border-radius: 10px;
  padding: 48px;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.526);
}

/* --------------------------------------- footer */
footer {
  height: 40em;
  background-color: var(--black);
  color: var(--white);
  position: relative;
  overflow: hidden;
}

#footer-logo {
  display: none;
}

#footer-bg {
  fill: var(--white);
  width: 100vw;
  top: 0;
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  pointer-events: none;
}

footer div {
  position: relative;
  top: 40%;
  left: 53.5%;
}

footer ul {
  margin-bottom: 0.35em;
}

/* header svg {
  transition: transform 0.3s ease;
} */

@media (max-width: 350px) {
  header svg {
    transform: translateX(3%) translateY(3%);
    width: 29vw;
  }
}

/* --tiny-inter: 0.5rem;
  --sm-inter: 0.8rem;
  --reg-inter: 1rem;
  --lg-inter: 1.5rem;

  --sm-unbounded: 0.95rem;
  --md-unbounded: 1.5rem;
  --lg-unbounded: 2.5rem;
  --xl-unbounded: 3.2rem;

  --md-bricolage: 1.1rem;
  --lg-bricolage: 1.5rem;
  --xl-bricolage: 2.5em; */
@media (max-width: 375px) {
  :root {
    --tiny-inter: 0.5rem;
    --sm-inter: 0.7rem;
    --reg-inter: 0.85rem;
    --lg-inter: 1rem;

    --sm-unbounded: 0.65rem;

    --md-unbounded: 0.8rem;
    --lg-unbounded: 1.5rem;
    --xl-unbounded: 2rem;

    --md-bricolage: 0.9rem;
    --lg-bricolage: 1rem;
    --xl-bricolage: 2em;

    --base-margin: 50px;

    .xl-link .arrow {
      bottom: -23%; /* adjust this to sit under text */
      width: 92%;
      transform: translateX(-49%); /* true center */
    }
  }
}

/*fix me.. get rid of overlap with root and arrows*/

@media (min-width: 376px) and (max-width: 500px) {
  :root {
    --tiny-inter: 0.5rem;
    --sm-inter: 0.76rem;
    --reg-inter: 0.95rem;
    --lg-inter: 1.5rem;

    --sm-unbounded: 0.8rem;
    --md-unbounded: 1rem;
    --lg-unbounded: 1.5rem;
    --xl-unbounded: 2rem;

    --base-margin: 50px;
  }

  .xl-link .arrow {
    bottom: -23%; /* adjust this to sit under text */
    width: 92%;
    transform: translateX(-49%); /* true center */
  }
}

@media (min-width: 500px) and (max-width: 750px) {
  :root {
    --tiny-inter: 0.5rem;
    --sm-inter: 0.76rem;
    --reg-inter: 0.95rem;
    --lg-inter: 1.5rem;

    --sm-unbounded: 0.9rem;
    --md-unbounded: 1.3rem;
    --lg-unbounded: 2rem;
    --xl-unbounded: 2.5rem;

    --base-margin: 50px;
  }

  .xl-link .arrow {
    bottom: -9%; /* adjust this to sit under text */
    width: 92%;
    transform: translateX(-52%); /* true center */
  }
}

@media (max-width: 750px) {
  footer ul {
    font-size: var(--md-unbounded);
    line-height: var(--sm-line-h);
    font-weight: 600;
    margin-bottom: 0;
  }
}
@media (min-width: 751px) and (max-width: 949px) {
  .xl-link .arrow {
    transform: translateX(-50.5%); /* true center */
  }
}

@media (max-width: 950px) {
  :root {
    --base-margin: 30px;
  }
}

/* header and footer logos */

@media (min-width: 350px) and (max-width: 415px) {
  header svg {
    transform: translateX(3%);
    width: 37vw;
  }
}

@media (min-width: 415px) and (max-width: 749px) {
  header svg {
    transform: translateY(-2%);
    width: 45vw;
  }
}

@media (max-width: 750px) {
  footer {
    height: fit-content;
    text-align: center;
    padding-top: var(--base-margin);
    padding-bottom: 6em;
  }

  #footer-bg {
    display: none;
  }

  #footer-logo {
    display: block;
    fill: var(--white);
    width: 60vw;
    margin: 0 auto;
    padding: var(--base-margin) 0;

    opacity: 0;
    transform: scale(0.5);
    transform-origin: center center;
    will-change: transform, opacity;
  }

  footer div {
    position: static;
  }
}

@media (min-width: 751px) and (max-width: 1050px) {
  footer {
    height: 50vw;
  }
}
